# Python 虚拟环境
.venv/

# 编译产物
*.o
*.out
build/

# 模型文件
*.rkllm
*.rknn

# 二进制测试数据
*.bin
*.npy

# macOS
.DS_Store
__pycache__/
*.pyc
docs/interview_qa.md
docs/interview_qa.html
docs/interview_qa.docx
src/liu.c
src/postprocess_rewrite.cpp
src/rknn_exercise.c
*pt
*.onnx
rknn-llm/
models/
